.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #191919;
  color: white;
}

a {
  text-decoration: none;
  color: #3edad8;
  text-align: center;
}

.nav {
  width: 800px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50px;
  border: 3px solid #3edad8;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.about p {
  text-align: justify;
  margin: 15px;
}

table {
  width: 800px;
  margin: 0 auto;
  border-color: #3edad8;
}

iframe {
  border-color: #3edad8;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about {
  display: grid;
  grid-template-columns: 50% 50%;
}

.judul {
  color: #3edad8;
}

#hai {
  font-size: 20px;
  color: #3edad8;
}

#name {
  font-size: 40px;
  font-weight: bold;
}
#nama {
  width: 100%;
  height: 30px;
  background-color: #191919;
  border-color: #3edad8;
  color: white;
}

#nim {
  color: #3edad8;
}

.form label {
  font-size: 20px;
}
.form button {
  width: 100%;
  background-color: #3edad8;
  height: 30px;
}

.form {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #3edad8;
}

header h1 {
  padding-top: 40%;
}

header img {
  width: 400px;
}

footer {
  height: 30px;
  width: 100%;
  background-color: #3edad8;
  color: black;
  justify-items: center;
}

footer h3 {
  text-align: center;
}
